<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.jptalusan.algeops">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_math"
        android:roundIcon="@mipmap/ic_launcher_math_round"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.MainActivity">
        </activity>
        <activity android:name=".Activities.BaseOpsActivity" />
        <activity android:name=".Activities.AddActivity" />
        <activity android:name=".Activities.SubtractActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>